#image-wrapper-banner{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#image-banner{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

