*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

html{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    width: 80%;
    height: 190vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
