#image-biography-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60vh;
    border-radius: 20px;
    margin: 1vh 0 1vh 0;
    background-color: white;
}
.image-wrapper{
    height: 45%;
    width: 46%;
    border-radius: 20px;
}
.image-wrapper:hover{
    transform: scale(1.05);
    box-shadow:  0 0 3px 3px gray;
    cursor: pointer;
}
.image-galery{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#biography-group{
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#biography-group p{
    margin: 1vh 10%;
    text-align: justify;
    
}